body {
  margin: 0 auto;
  background-image: url("/assets/images/circles-light.png");
  width: 100%;
}

.page-footer {
  background: #000;
  border-top: 6px solid darkblue;
  color: #fff;
}
.links {
  padding: 10px;
}

.links:hover {
  background-color: #000;
}

a {
  color: darkblue;
}
a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #000;
}
.nav {
  color: #333 !important;
}
.container-fluid {
  width: 960px;
}
.navbar-nav {
  flex-direction: row !important;
}
.navbar-header {
  background-color: #000;
  padding: 20px;
  border: 2px solid darkblue;
}
.navbar-header a {
  color: #fff !important;
  font-size: 25px;
}
.container {
  margin-top: 15px;
  width: 960px;
}
h3 {
  color: darkblue;
}

.btn-primary {
  background: darkblue !important;
}

.col-md-4 {
  grid-gap: 10px;
  padding: 10px;
}
.col-md-4 h3 {
  background: #000;
  margin-left: -38px;
  color: white;
  width: 300px;
}

@media (max-width: 640px) {
  .container-fluid {
    justify-content: center;
    width: 640px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .navbar-brand {
    width: 640px;
    margin-right: -10px;
    text-align: center;
  }
  .box {
    width: 100%;
  }
  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
  }
  .container {
    width: 640px;
    margin: 0;
  }
  a {
    margin-right: 10px;
    align-content: center;
  }
  h3 {
    text-align: center;
  }
  .col-md-4 h3 {
    background: #000;
    margin-left: 59px;
    color: white;
    width: 260px;
  }
  .col-2 {
    padding-bottom: 200px;
    width: 100%;
  }

  /* .col-2 img {
    text-align: center;
    display: block;
    width: 100%;
    height: inherit;
  } */
  p {
    text-align: center;
    width: 100%;
    float: left;
  }
}

@media (max-width: 768px) {
  .container {
    justify-content: center;
    width: 768px;
  }
  .navbar-nav {
    flex-direction: row;
  }
  /* a {
    margin-right: 10px;
  } */
  /* .col-md-4 {
    width: 100%;
    grid-gap: 10px;
    padding: 10px;
  } */
}
@media (min-width: 980px) {
}
